NODE_ENV=development
PORT=3000
HOST=0.0.0.0

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=skripsi_db

JWT_SECRET=your_jwt_secret_here
COOKIE_SECRET=your_cookie_secret_here

IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id
